.anchor {
  padding: 0.5rem;

  color: rgb(15, 23, 42);
  text-decoration: none;

  border: 1px solid var(--bg-dark);
  border-radius: 0.4rem;

  font-weight: 600;

  transition: background-color 0.5s;
}

.anchor:hover {
  background-color: var(--bg-dark);
}
