.primary {
  margin-top: 1rem;

  padding: 0.5rem;

  color: rgb(15, 23, 42);
  background-color: white;

  text-decoration: none;

  border: 1px solid var(--bg-dark);
  border-radius: 0.4rem;

  font-weight: 600;

  width: 100%;

  transition: background-color 0.5s;
}

.primary:hover {
  background-color: var(--bg-dark);
}
